@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .fullview {
    @apply h-[calc(100%-48px)] sm:h-[calc(100%-56px)] md:h-[calc(100%-64px)] lg:h-[calc(100%-80px)];
  }
  .container {
    @apply w-full sm:max-w-[610px] md:max-w-[720px] lg:max-w-[970px] xl:max-w-[1200px] 2xl:max-w-[1360px] mx-auto px-2;
  }
  .hometoppolygon {
    clip-path: polygon(0 0, 100% 0, 100% 73%, 0% 100%);
  }
  .homemiddlepolygon {
    position: absolute;
    inset: 0;
    top: 0;
    left: 0;
    background: linear-gradient(to right, #0e0e0e, #4f4f4f);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75%);
  }
  .linearbg {
    background: linear-gradient(45deg, #2b2b2b, black);
  }
}
